.sans-serif {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif
}

a:link,
a:visited,
a:active,
a:hover {
    color: inherit;
}

.url {
    hyphens: none;
    word-break: break-all;
}
