.sans-serif {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif
}

a:link,
a:visited,
a:active,
a:hover {
    color: inherit;
}

.ThumbnailColumn {
    box-sizing: content-box;
}

.ThumbnailColumn img {
    min-height: 50vw;
    background-color: #f2f2f2;
}
