button.Button,
button.Button:active {
    border-color: currentColor;
}

button.Button:hover:not(:disabled),
button.Button:focus {
    background-color: #000;
    color: #fff;
    outline: none;
}

button.Button:disabled {
    color: #dadada;
}
