@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Gallery img {
    width: 100%;
    max-height: 105vh;
    object-fit: contain;
    object-position: left;
    animation: fadeIn 0.3s;
}

.Gallery-select-0 img:not(:nth-of-type(1)) {
    display: none;
}
.Gallery-select-1 img:not(:nth-of-type(2)) {
    display: none;
}
.Gallery-select-2 img:not(:nth-of-type(3)) {
    display: none;
}
.Gallery-select-3 img:not(:nth-of-type(4)) {
    display: none;
}
.Gallery-select-4 img:not(:nth-of-type(5)) {
    display: none;
}
.Gallery-select-5 img:not(:nth-of-type(6)) {
    display: none;
}
.Gallery-select-6 img:not(:nth-of-type(7)) {
    display: none;
}
.Gallery-select-7 img:not(:nth-of-type(8)) {
    display: none;
}
.Gallery-select-8 img:not(:nth-of-type(9)) {
    display: none;
}
.Gallery-select-9 img:not(:nth-of-type(10)) {
    display: none;
}
.Gallery-select-10 img:not(:nth-of-type(11)) {
    display: none;
}
.Gallery-select-11 img:not(:nth-of-type(12)) {
    display: none;
}
.Gallery-select-12 img:not(:nth-of-type(13)) {
    display: none;
}
.Gallery-select-13 img:not(:nth-of-type(14)) {
    display: none;
}
.Gallery-select-14 img:not(:nth-of-type(15)) {
    display: none;
}
.Gallery-select-15 img:not(:nth-of-type(16)) {
    display: none;
}
.Gallery-select-16 img:not(:nth-of-type(17)) {
    display: none;
}
.Gallery-select-17 img:not(:nth-of-type(18)) {
    display: none;
}
.Gallery-select-18 img:not(:nth-of-type(19)) {
    display: none;
}
.Gallery-select-19 img:not(:nth-of-type(20)) {
    display: none;
}
